.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        display: flex;
        min-height: 100vh;
        justify-content:center;
        align-items: center;
    }
}

////////

/// Hour Tracker Configured to QuickBooks with Geotracking Cabiblietes 

///Google cloud setup for map, geotracking and data storage

it is all done on google cloud counsel

//////// QuickBooks API integration for time tracking and invoicing

jjjjjjj


kkkkkkkk


FROM

WORKDIR

COPY

