.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
        display: flex;
        min-height: 100vh;
        justify-content:center;
        align-items: center;
    }
}

////////

/// Hour Tracker Configured to QuickBooks with Geotracking Cabiblietes 

///Google cloud setup for map, geotracking and data storage

it is all done on google cloud counsel

//////// QuickBooks API integration for time tracking and invoicing

jjjjjjj


<<<<<<< Updated upstream
kkkkkkkk


FROM

WORKDIR

COPY

//////////


name: ect....

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
////////
    steps:
    - uses: actions/checkout@v2
    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '14'
    - name: Install dependencies
      run: npm install
    - name: Run tests
      run: npm test


//////
    RUN npm install -g @angular/cli
    WORKDIR /app
    COPY . .
    RUN npm install
    RUN ng build --prod
    EXPOSE 80
    CMD ["npx", "http-server", "dist/your-app-name"]
   ////////
   
    - name: Deploy to Google Cloud
        uses: google-github-actions/deploy-appengine@v0
        with:
          project_id: ${{ secrets.GCP_PROJECT_ID }}
          credentials: ${{ secrets.GCP_CREDENTIALS }}



////////



///////



/////




/////



AAAAAAAA

////////
=======
jjjjjjjj

xxxxxxxxx

zzzzzzzzz

revert this


revert menu

revert me