
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: aqua;
}

#root {
  position: absolute;
  Top: 10%;
  Left: 50%;
  background-color: red;
  width: 500px;
  height: 500px;
  text-align: flex-end;
  z-index: 2;
}

#Top{
  position: absolute;
  Top: 30%;
  Left: 50%;
  transition: transform(-50%, -30%);
  background-color: green;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

